body {
    background: rgb(242, 242, 224);
    overscroll-behavior: none;
    overflow: hidden;
}

header {
  max-width: 100%; /* limita largura */
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding: 0px;
}

header img {
  width: 100px; /* tamanho visível */
  height: auto;
  margin-left: 250px;
}

header nav ul {
  display: flex;
  list-style: none;
  gap: 35px; 
  font-weight: 600;
  font-size: 20px;
  margin: 0;
  padding: 0;
  margin-left: 20%;
  margin-top: 50%;
}

header nav ul li {
  cursor: pointer;
}

h1 {
  font-size: 10px;          /* aumenta o tamanho do texto */
  font-weight: bold;
  color: #3a0202;           /* preto, ou troque para outra cor se quiser */
  margin-top: 100px;
  text-align: center;       /* centraliza horizontalmente */
  transform: translateX(-50px); /* desloca um pouco para a direita */
}

.retangulo .personagem {
  position: absolute;         /* permite posicionar dentro do retângulo */
  top: 40%;                   /* centraliza verticalmente */
  left: 65%;                  /* centraliza horizontalmente */
  transform: translate(-50%, -50%); /* centralização exata */
  width: 300px;                 /* largura da imagem dentro do retângulo */
  height: auto;               /* altura proporcional */

}









