body {
    background: rgb(242, 242, 224);
    overscroll-behavior: none;
    overflow: hidden;
}

header {
  max-width: 1024px; /* limita largura */
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
}

header img {
  width: 110px; /* tamanho visível */
  height: auto;
  margin-left: -120px;
}

header nav ul {
  display: flex;
  list-style: none;
  gap: 35px; 
  font-weight: 600;
  font-size: 20px;
  margin: 0;
  padding: 0;
  margin-left: 830px;
  margin-top: -35px;
}

header nav ul li {
  cursor: pointer;
}

h1 {
  font-size: 70px;          /* aumenta o tamanho do texto */
  font-weight: bold;
  color: #3a0202;           /* preto, ou troque para outra cor se quiser */
  margin-top: 150px;
  text-align: center;       /* centraliza horizontalmente */
  transform: translateX(-400px); /* desloca um pouco para a direita */
}

.retangulo .personagem {
  position: absolute;         /* permite posicionar dentro do retângulo */
  top: 51%;                   /* centraliza verticalmente */
  left: 76%;                  /* centraliza horizontalmente */
  transform: translate(-50%, -50%); /* centralização exata */
  width: 48%;                 /* largura da imagem dentro do retângulo */
  height: auto;               /* altura proporcional */
}