@keyframes zoomIn {
  0% {
    transform: scale(1.3); /* começa maior (zoom) */
    opacity: 0; /* invisível no início */
  }
  100% {
    transform: scale(1); /* volta ao normal */
    opacity: 1; /* aparece normal */
  }
}

@media (max-width: 768px) {

  .img1 {
    position: ab;   /* deixa a imagem no fluxo normal */
    width: 900px;          /* ocupa a largura da tela */
    top: -40px;
    left: 0;               /* tira o deslocamento fixo */
  }

  header {
    flex-direction: column;
    padding: 10px 20px;
  }

  header nav ul {
    flex-direction: column;
    gap: 15px;
    margin: 20px 0 0 0;
    font-size: 18px;
  }

  .hero-text {
    position: relative;
    top: auto;
    left: auto;
    transform: none;
    margin: 20px auto;
    text-align: center;
  }

  .hero-text h1 {
    font-size: 36px; /* reduz tamanho do título */
  }

  .hero-text p {
    font-size: 18px;
  }

  .introdução {
    padding: 60px 15px; /* espaço mais realista */
  }

  .text1, .text2, .text3 {
    margin: 20px 0;  /* sem valores fixos */
    font-size: 18px;
    margin-left: 30px;
  }

  .Rōmaji {
    box-shadow: 0px 0 20px rgba(249, 173, 8, 0.3);
    padding: 20px;
  }

  .Rōmaji h1,
  .Rōmaji p {
    margin-left: 0;
    font-size: 18px;
  }
}

