body {
    background: rgb(242, 242, 224);
    overscroll-behavior: none;
    overflow: hidden;
    overflow-y: scroll;
}

header {
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
}

header img {
  width: 70px;
  height: auto;
  margin-left: 1px;
}

.personagem .textos3 {
  position: relative;
}


h1 {
  margin-bottom: 20px;
  position: relative;
  font-size: 25px;
  font-weight: bold;
  color: #3a0202;
  margin-top: 110px;
  transform: translateX(25px);
}

.retangulo .personagem {
  position: absolute;
  top: 28%;
  left: 66%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: auto;
}

.painel {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.inform {
  font-family: 'DM Serif Text', serif;
  color: #ffffff;
}

.textoi {
  margin-top: 160px;
  z-index: 10;
  color: #ffffff;
  margin-left: 6%;
}
.sobre ul li{
  list-style: none;
}

.imagem {  
  width: 375px;
  height: auto;
  position: absolute;
  top: 69%;
  left: 0%;
}

